.container {
  max-width: 54rem;
  /* width: 900px; */
  background-color: #fff;
  /* padding: 0 1rem; */
  margin: 0rem auto 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondBackground{
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  max-width: 72rem;
  margin: 0rem auto 3rem;
}
/* .backToHome {
  margin: 3rem 0 0;
} */
