
.padding {
  padding: 20px 0 20px 20px;
}

.center {
  text-align: center;
}

.container {
  max-width: 54rem;
  background-color: #fff;
  margin: 0rem auto 3rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secondBackground{
  background: #fff url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
  max-width: 72rem;
  margin: 0rem auto 3rem;
}

.borderCircle {
  border-radius: 9999px;
}

.pokeImages {
  height: 200px;
  width: 200px;
  background-color: #F2F2F2;
  border-radius: 5px;
  margin-top: 10px;
}

.profileImage {
  height: 200px;
  width: 200px;
  border-radius: 9999px;
}

.pokeNumber {
  color: rgb(133, 132, 132);
  display: block;
  margin-bottom: 10px;
}
.columns {
  list-style: none;
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.typeColumns {
  list-style: none;
  display: grid;
  justify-content: center;
  padding: 0;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

.typeTag {
  background-color: #2686ac;
  border-radius: 5px;
  color: #fff;
  font-size: 10px;
  padding: 3px;
  text-align: center;
  margin: 3px;
  font-weight: lighter;

}

.button {
  background-color: #30a7d7;
  width: 200px;
  height: 40px;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  align-self: center;
}

.button:hover {
  background-color: #2686ac;
  color: white;
}

.fire {
  background: #fd7d24;
}

.water {
  background: #4592c4;
}
.grass {
  background: #9bcc50;
  color: black;
}
.poison {
  background: #b97fc9;
}
.bug {
  background: #729f3f;
}
.normal {
  background: #a4acaf;
}
.electric {
  background: #eed535;
  color: black;
}

.flying {
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  background-color: #3dc7ef;
  color: black;
}
.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: black;
}

.fairy {
  background-color: #fdb9e9;
  color: black;
}

.fighting {
  background-color: #d56723;
}

.psychic {
  background-color: #f366b9;
}

.rock {
  background-color: #a38c21;
}

.steel {
  background-color: #9eb7b8;
}

.ice {
  background-color: #51c4e7;
  color: black;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}